.scroll_constructor_container {
  height: 100%;
  max-height: calc(100vh - 568px);
  min-height: 80px;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  row-gap: 16px;
}

.drag_target {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 270px;
  flex-direction: column;
  border-radius: 40px;
  row-gap: 16px;
  background: none;
}

.total_container {
  align-items: center;
  column-gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 52px;
}

.total_price {
  background: url(../../images/currency-icon.svg) no-repeat right center;
  padding-right: 44px;
}

.default {
  background: transparent;
}

.is_target {
  background: rgba(255,255,255,.03);
}

.is_hover {
  background: rgba(255,255,255,.05);
}