.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;

}

.number {
  text-align: center;
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
  max-height: 260px;
  overflow-y: auto;
  row-gap: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.totalBlock {
  display: flex;
  align-items: center;
  margin-left: auto;
}