@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/jetbrainsmono-regular-webfont.woff) format("woff"),
       url(./fonts/jetbrainsmono-regular-webfont.woff) format("woff2");
}

body {
  margin: 0;
}