.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.title {
  min-height: 48px;
  text-align: center;
}